.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
  gap: 10px;
}

.header img {
  width: 2rem;
}
.logoName {
  font-size: 1.5rem;
  font-weight: 700;
}