.post {
  background: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

.post+.post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: 700;
  color: var(--green);
  text-decoration: none;
}

.content a:hover {
  color: var(--green-light);
}

.content p span {
  margin-right: 0.1rem;
}

.post>header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post>header time {
  font-size: .875rem;
  color: var(--gray-400);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong {
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span {
  display: block;
  font-size: .875rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-700);
}

.commentForm>strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.commentForm textarea {
  width: 100%;
  background: var(--gray-900);
  border: 0;
  resize: none;
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 1rem;
}

.commentForm footer {
 visibility: hidden;
 max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type=submit] {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  margin-top: 1rem;
  border: none;
  
  background: var(--green);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;

  transition: background .15s;
  box-shadow: none;
}

.commentForm button[type=submit]:not(:disabled):hover {
  background: var(--green-light);
}

.commentForm button[type=submit]:disabled {
  background: var(--gray-400);
  cursor: not-allowed;
  opacity: 0.7;
}

.commentList {
  margin-top: 2rem;
}